<div class="data-box" id="box-temp-aht">
    <h3>Ambiente <i class="fa-solid fa-cloud-sun"></i></h3>
    <div class="data-value" id="current-temp1-value">-- °C</div>
</div>

<div class="data-box" id="box-humidity">
    <h3>Humedad <i class="fa-solid fa-droplet"></i></h3>
    <div class="data-value" id="current-humidity-value">-- %</div>
</div>

<div class="data-box" id="box-dev1">
    <h3>Sondas Dev 1 <i class="fa-solid fa-temperature-half"></i></h3>
    <div class="data-value-small"><span>S1:</span> <b id="val-t1">--</b></div>
    <div class="data-value-small"><span>S2:</span> <b id="val-t2">--</b></div>
    <div class="data-value-small"><span>S3:</span> <b id="val-t3">--</b></div>
    <div class="data-value-small"><span>S4:</span> <b id="val-t4">--</b></div>
</div>

<div class="data-box" id="box-dev2">
    <h3>Sondas Dev 2 <i class="fa-solid fa-microchip"></i></h3>
    <div class="data-value-small"><span>S1:</span> <b id="dev2-t1">--</b></div>
    <div class="data-value-small"><span>S2:</span> <b id="dev2-t2">--</b></div>
    <div class="data-value-small"><span>S3:</span> <b id="dev2-t3">--</b></div>
    <div class="data-value-small"><span>S4:</span> <b id="dev2-t4">--</b></div>
</div>

<div class="data-box" id="box-signal">
    <h3>Señal <i class="fa-solid fa-signal"></i></h3>
    <div class="data-value" id="current-signal-value">-- dBm</div>
</div>
